@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --verde-transp: rgba(161, 212, 201, 0.596);
    --background: rgb(231, 231, 231);

    --branco: #f2f2f2;
    --bege: #D9CDBF;
    --verde-claro: #7ABF9F;
    --verde-médio: #3E8C6F;
    --verde-escuro: #1D5943;
}

nav {
    background-color: var(--bege);
    padding: 0.8em 3em;
    color: var(--verde-médio);
    font-size: 18px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.dropdown-item:hover {
    background-color: var(--verde-transp) !important;
}


/* ----- Início do código do menu sem bootstrap ----- */

/* nav {
    background-color: var(--verde-transp);
    padding: 0.8em 3em;
    text-transform: uppercase;
    color: var(--verde-médio);
    font-size: 16px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 2.4em;
}

nav li {
    display: inline-block;
    font-size: 16px;
}

nav li:hover {
    color: var(--verde-escuro);
    cursor: pointer;
}  */

/* ----- Menu Dropdown ----- */

/* .dropdown {
    position: absolute;
    display: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

nav li:hover ul,
.menu li:hover ul {
    display: block;
    width: 180px;
}

.li-dropdown {
    padding: 10px 5px;
    width: 160px;
    align-items: center;
    background-color: var(--verde-transp);
}

.li-dropdown:hover {
    color: #fff;
    width: 90%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */

/* ----- Fim do Menu Dropdown ----- */
/* ----- Fim do código do menu sem bootstrap ----- */

/*---------------------------------------------------------------*/

#inicio {
    font-family: "Alex Brush", cursive;
    color: var(--verde-médio);
    text-align: center;
}

#inicio .titulo-principal {
    padding: 6em 0 3em 0;
}

#inicio .titulo-principal h1 {
    font-size: 80px;
}

/*EFEITO CORAÇÃO*/

#inicio i {
    position: absolute;
    font-size: 30px;
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(50%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(100%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1);
        filter: brightness(150%);
    }
}

/*FIM DO EFEITO CORAÇÃO*/


#inicio .save-the-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#inicio img {
    border-radius: 50%;
}

#inicio .save,
#inicio .date {
    font-size: 60px;
}

.titulo {
    font-family: "Alex Brush", cursive;
    font-size: 80px;
    text-align: center;
    padding: 2em 0 1em 0;
}

/*---------------------------------------------------------------*/

.titulo-galeria {
    font-family: "Alex Brush", cursive;
    font-size: 45px;
    text-align: center;
    padding: 2em 0 1.5em 0;
}

#btn-anterior,
#btn-proximo {
    position: absolute;
    top: 1500px;
}

#btn-anterior {
    left: 30px;
}

#btn-proximo {
    right: 30px;
}

/*---------------------------------------------------------------*/
.margem {
    padding: 0 150px;
}

.titulo-sobre {
    font-family: "Alex Brush", cursive;
    font-size: 80px;
    text-align: center;
    padding: 1em 0;
}

.descricao-sobre {
    font-style: italic;
    tab-size: 2;
    padding: 0 105px 80px 105px;
}

#noivos {
    color: var(--branco);
    background-color: var(--verde-escuro);
    text-align: justify;
}

#noivos img {
    border-radius: 30px;
    width: 30%;
}

#noivos .topicos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-style: italic;
}

#noivos .noiva {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
}

#noivos .noiva-texto h1 {
    color: var(--bege);
    font-size: 50px;
}

#noivos .noiva-texto h3 {
    font-family: 'Poppins';
    font-size: 20px;
    font-style: italic;
}

#noivos .noivo {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    align-items: center;
    text-align: justify;
    text-align: left;
    padding: 6em 0;
}

#noivos .noivo-texto h1 {
    color: var(--bege);
    font-size: 50px;
}

#noivos .noivo-texto h3 {
    font-family: 'Poppins';
    font-size: 20px;
    font-style: italic;
}

/*---------------------------------------------------------------*/

#padrinhos {}

#padrinhos .padrinhos-desc {
    text-align: center;
}

#padrinhos .padrinhos-desc .paleta {
    width: 50%;
}

.abas-padrinhos {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    margin: 0 200px;
}

.abas-padrinhos h1 {
    font-family: "Alex Brush", cursive;
}

.inspiracao {
    text-align: center;
    font-family: 'Poppins';
    color: #1D5943;
    padding: 5em 0;
}

.inspiracao-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inspiracao-imgs .img1,
.img2,
.img3 {
    width: 340px;
    height: 340px;
    border-radius: 50%;
}

/*---------------------------------------------------------------*/

#normas {}

/*---------------------------------------------------------------*/

#lista {}

/*---------------------------------------------------------------*/

#qr-code {

}


.qr-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.desc-code {
    padding-top: 5em;
    position: relative;
    text-align: center;
}

.desc-code summary {
    padding-top: 30px;
}

.infos-code {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.infos-code p {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    width: 500px;
    padding: 0 20px 0 40px;
}

.img-code {
    position: relative;
}

.img-code img {
    border-radius: 40px;
}
.img-code button {
    position: absolute;
    width: 350px;
    height: 45px;

    font-size: 17px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: var(--verde-escuro);

    z-index:1;
    top:80%;
    left:15%;
}

.img-code input {
    position: absolute;
    z-index:-1;
    top:82%;
    left:30%;
}


/*---------------------------------------------------------------*/

.subtitulo,
.sub-end {
    font-family: 'Poppins', cursive;
    text-align: center;
    padding-bottom: 15px;
}

#igreja img {
    width: 40%;
    border-radius: 20px;
    margin-top: 2em;
}

.igreja-local,
.igreja-mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

.igreja-end {
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------------------------*/

#sobre .sobre-desc {
    text-align: center;
    font-size: 20px;
}

#sobre ul {
    font-size: 18px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-left: 24%;
    list-style-type: none;
    line-height: 35px;
}

#sobre ul li:before {
    content: '✓ ';
}

#sobre .sobre-imgs {
    text-align: center;

}

#sobre .sobre-imgs img {
    width: 400px;
    height: 300px;
    padding-top: 5px;
}

/*---------------------------------------------------------------*/

#como-chegar .mapa {
    text-align: center;
}

/*---------------------------------------------------------------*/

#mensagem {
    max-width: 900px;
    margin: 0 auto;
}

.mensagem-desc {
    text-align: center;
}

.newPost {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;
    background: var(--branco);
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoUser .imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--verde-escuro);
}

.infoUser input {
    font-size: 16px;
    color: var(--verde-escuro);
    margin-left: 10px;
    border-radius: 7px;
    padding: 4px;
}

.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formPost textarea {
    background-color: var(--verde-transp);
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    outline: none;
    height: 90px;
}

.iconsAndButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.icons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 10px;
    cursor: pointer;
    background: none;
}

.btnSubmitForm {
    background-color: var(--verde-médio);
    padding: 10px 50px;
    color: var(--branco);
    font-weight: bold;

    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.btnSubmitForm:hover {
    background-color: var(--verde-escuro);
}

.icons img {
    filter:contrast(80%) sepia(50%);
}

/*---------------------------------------------------------------*/

ul.posts, 
li.post {
    margin-bottom: 50px;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
}

.infoUserPost {
    display: flex;
    align-items: center;

}

.imgUserPost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--verde-escuro);
}

.namePost strong {
    color: var(--verde-escuro);
}

/*---------------------------------------------------------------*/

footer {
    background-color: var(--verde-transp);
    color: var(--verde-médio);
    text-align: center;
    align-items: center;
    padding: 30px 0;
}

footer i {
    padding-right: 5px;
}

footer a:hover {
    color: var(--branco) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------------------------*/

#back-to-top {
    color: var(--verde-claro);
    position: fixed;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid;
    bottom: 20px;
    right: 20px;
}

#back-to-top:hover {
    background-color: var(--verde-médio);
    color: var(--branco);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}