@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --verde-transp: rgba(161, 212, 201, 0.596);
    --verde-claro: rgb(43, 151, 128);
    --verde-escuro: rgb(28, 139, 115);

    --laranja-claro: #F2811D;
    --laranja-escuro: #E35B49;
    --background: rgb(231, 231, 231);
}

.menu {
    background-color: rgba(161, 212, 201, 0.596);
    padding: 0.8em 3em;
    text-transform: uppercase;
    color: rgb(43, 151, 128);
    font-size: 16px;

    /* Menu fixo*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    /*não passa itens em cima do menu */
}

.menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2em;
    height: 2.4em;
}

.menu ul li:hover {
    cursor: pointer;
    color: rgb(28, 139, 115);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
}

/*---------------------------------------------------------------*/

#inicio {
    position: relative;
    display: inline-block;
    font-family: "Alex Brush", cursive;
}

#inicio .save {
    position: absolute;
    text-align: center;
    top: 360px;
    left: 200px;
    font-size: 60px;
    color: #fff;
}

#inicio .date {
    position: absolute;
    text-align: center;
    top: 400px;
    right: 200px;
    font-size: 60px;
    color: #fff;
}
/*EFEITO CORAÇÃO*/

#inicio i {
    position: absolute;
    font-size: 40px;
    color: #fff;
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    top: 600px;
    left: 230px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1);
        filter: brightness(200%);
    }
}

/*FIM DO EFEITO CORAÇÃO*/

.titulo-principal {
    font-family: "Alex Brush", cursive;
    font-size: 80px;
    text-align: center;
    padding: 2em 0 0.6em 0;
}

#inicio img {
    width: 99.98%;
}


.titulo {
    font-family: "Alex Brush", cursive;
    font-size: 80px;
    text-align: center;
    padding: 2em 0 1em 0;
}

/*---------------------------------------------------------------*/

.titulo-galeria {
    font-family: "Alex Brush", cursive;
    font-size: 45px;
    text-align: center;
    padding: 2em 0 1.5em 0;
}

#btn-anterior,
#btn-proximo {
    position: absolute;
    top: 1500px;
}

#btn-anterior {
    left: 30px;
}

#btn-proximo {
    right: 30px;
}

/*---------------------------------------------------------------*/

#noivos {
    background-color: var(--verde-transp);
    text-align: justify;
    padding: 0 60px;
}

#noivos .noiva {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
}

#noivos .noivo {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    align-items: center;
    text-align: right;
}

/*---------------------------------------------------------------*/

#madrinhas {}

/*---------------------------------------------------------------*/

#normas {}

/*---------------------------------------------------------------*/

#lista {}

/*---------------------------------------------------------------*/

#qr-code {}

/*---------------------------------------------------------------*/

#como-chegar {}

/*---------------------------------------------------------------*/

footer {
    background-color: var(--verde-transp);
    color: var(--verde-claro);

}