@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --verde-transp: rgba(161, 212, 201, 0.596);
    --background: rgb(231, 231, 231);

    --branco: #f2f2f2;
    --bege: #D9CDBF;
    --vermelho: #FF6B6B;
    --verde-claro: #7ABF9F;
    --verde-médio: #3E8C6F;
    --verde-escuro: #1D5943;
}

nav {
    background-color: var(--verde-escuro);
    padding: 0.8em 3em;
    color: var(--bege);
    font-size: 18px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.dropdown-item:hover {
    background-color: var(--verde-transp) !important;
}

.nav-item:hover {
    color: var(--branco);
}

/*CLASSES REUTILIZADAS ----------------------------------------*/

.margem {
    padding: 0 150px;
}

.margem-vinte {
    margin: 0 20%;
}

.titulo {
    font-family: "Alex Brush", cursive;
    font-size: 120px;
    text-align: center;
    padding: 200px 0 100px 0;
}

/*INÍCIO --------------------------------------------------------*/

#inicio {
    font-family: "Alex Brush", cursive;
    text-align: center;
    background: linear-gradient(rgba(214, 202, 167, 0.589), rgba(231, 231, 231, 0.1));
    background-repeat: no-repeat;
    background-size: cover;
}

#inicio .titulo-principal {
    padding: 7em 0 1em 0;
    color: var(--verde-escuro);
}

#inicio .titulo-principal h1 {
    font-size: 100px;
}

#inicio .save-the-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1D5943;
    color: var(--bege);
    gap: 5em;
}

#inicio img {
    border-radius: 50%;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
}

#inicio .save,
#inicio .date {
    font-size: 70px;
}

#inicio iframe {
    display: block; 
    margin: 0px auto; 
    width: 360px;
    height: 70px; 
    margin-top: 1.2em;
}

.frase {
    font-family: "Alex Brush", cursive;
    font-size: 45px;
    text-align: center;
    padding: 1em 0 1.5em 0;
}

/*---------------------------------------------------------------*/


#btn-anterior,
#btn-proximo {
    position: absolute;
    top: 1750px;
}

#btn-anterior {
    left: 30px;
}

#btn-proximo {
    right: 30px;
}

/*NOIVOS --------------------------------------------------------*/

#noivos {
    color: var(--branco);
    background-color: var(--verde-escuro);
    text-align: justify;
    font-size: 20px;
}

.margem-noivos {
    padding: 0 15%;
}

.titulo-sobre {
    text-align: center;
    padding: 6em 0 1em 0;
}

.titulo-sobre span {
    font-family: 'Poppins', sans-serif;
    opacity: 0.2;
    font-size: 80px;
    letter-spacing: 20px;
    position: absolute;
    right: 37%;
}

.titulo-sobre h1 {
    font-family: "Alex Brush", cursive;
    font-size: 140px;
    position: relative;
    padding: 45px;
}

.descricao-sobre {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 50px;
    text-align: justify;
    padding: 0 15% 10% 15%;
}

#noivos img {
    border-radius: 30px;
    width: 30%;
}

#noivos .noiva {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
}

#noivos .noivo {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    align-items: center;
    text-align: left;
    padding: 6em 0;
}

#noivos .noiva-texto h1,
#noivos .noivo-texto h1 {
    color: var(--bege);
    font-size: 100px;
    font-family: 'Alex Brush', cursive;
}

#noivos .noiva-texto h3,
#noivos .noivo-texto h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: var(--bege);
    font-style: italic;
}

#noivos .topicos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-style: italic;
    color: var(--bege);
}

#noivos .itens-topicos {
    font-size: 16px;
    padding: 5px 0 0 30px;
}
/*PADRINHOS -----------------------------------------------------*/

#padrinhos 
.padrinhos-desc,
.paleta-desc {
    text-align: center;
    position: relative;
}

.padrinhos-desc p {
    font-family: 'Poppins', cursive;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: 50px;
    color: var(--verde-escuro);
}

.padrinhos-desc .atrib {
    font-family: 'Alex Brush', cursive;
    font-size: 40px;
    font-weight: normal;
}

.padrinhos-desc ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: var(--verde-escuro);
    font-size: 18px;
}

.padrinhos-desc ul li::before {
    content: '♥';
    color: burlywood;
    padding-right: 10px;
    line-height: 40px;
}

.paleta-desc .paleta {
    width: 50%;
    padding: 50px 0;
}

.paleta-desc .arabesco {
    padding: 30px 0 50px 0;
    filter: invert(97%) sepia(5%) saturate(1146%) hue-rotate(320deg) brightness(91%) contrast(86%);
}

.paleta-desc p {
    font-family: 'Poppins', cursive;
    font-size: 18px;
    color: var(--verde-escuro);
}

.paleta-desc span {
    font-weight: bold;
    color: var(--verde-médio);
    text-shadow: 1px 1px 1px #1d5943;
}

.paleta-desc i {
    font-size: 30px;
    color: var(--verde-claro);
}

.flip-padrinhos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 100px;
    padding: 100px 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.flip-container {
    width: 500px;
    height: 300px;
    background-color: var(--verde-escuro);
    perspective: 1000px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.flipper {
	width: 100%;
	height: 100%;
    transition: transform 0.8s;
	transform-style: preserve-3d;
}

.front, 
.back {
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

.front {
    color: var(--bege);
    font-family: 'Alex Brush', cursive;
    padding: 120px;
    font-size: 60px;
}

.back {
    color: var(--branco);
    padding: 80px 50px;
    line-height: 40px;

    transform: rotateY(180deg);
}

.flip-container:hover .flipper {
	transform: rotateY(180deg);
	/* se quiser uma animação na vertical, troque por rotateX(180deg) */
}

.inspiracao h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--verde-escuro);
    font-size: 80px;
    padding: 80px 0 50px 0;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.inspiracao-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10em;
}

.inspiracao-imgs 
.img1,
.img2,
.img3 {
    width: 340px;
    height: 340px;
    border-radius: 20%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/*NORMAS --------------------------------------------------------*/

#normas .normas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    text-align: center;
    align-items: center;
}

#normas .normas img {
    width: 26%;
}

#normas .normas h3 {
    color: #f18f8f;
}

#normas .normas .linha {
    padding-top: 40px;
}

#normas .normas p {
    font-family: 'Poppins', sans-serif;
}

#normas .divisa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#normas .card, .card8 {
    background: linear-gradient(rgb(255, 244, 232)
    , rgba(255, 255, 255, 1));
    padding: 60px;
    margin-bottom: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

#normas .card8 {
    padding-top: 60px;
    line-height: 70px;
    text-align: center;
}

#normas ol li {
    list-style-type: decimal; 
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 20px 5px;
    color: #f18f8f;
    transition: ease-in-out 1s;
}

#normas .normas-desc {
    font-size: 20px;
    color: #9c9c9c;
    line-height: 45px;
    text-align: justify;
}

#normas span {
    text-transform: uppercase;
    letter-spacing: 15px;
}

/*DRESS-CODE ----------------------------------------------------*/

#dress-code {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.consideracoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    text-align: justify;
    line-height: 35px;
    color: var(--verde-escuro);
}

.consid-p span {
    font-weight: bold;
    color: var(--vermelho);
}

.consid-p .observacoes {
    font-style: italic;
    font-size: 16px;
}
.consid-p ol li::before {
    content: '♥';
    margin-right: 15px;
    color: var(--vermelho);
}

.consid-p h4 {
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
}

#dress-code img {
    width: 25%;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

#dress-code .garden,
#dress-code .formal {
    transform: rotate(2deg);
}

#dress-code .semi {
    transform: rotate(-2deg);
}

.referencias {
    color: var(--verde-escuro);
    font-size: 16px;
    padding-top: 40px;
}

.referencias p {
    font-weight: bold;
    font-style: italic;
}

.referencias a {
    text-decoration: none;
    color: var(--verde-escuro);
}

.referencias a:hover {
    text-decoration: underline;
}

/*LISTA ---------------------------------------------------------*/

#lista img {
    width: 40%;
}

.lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.lista ul {
    padding-top: 30px;
}

.lista ul li {
    list-style-type: disc;
    line-height: 40px;
}

.lista button {
    padding: 10px 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: bold;
    margin-left: 25px;
}

.lista button:hover {
    background-color: #e95757;
    color: var(--branco);
}

/*QR-CODE -------------------------------------------------------*/

.qr-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 18px;    
    text-align: center;
}

.desc-code {
    padding-top: 1em;
    position: relative;
}

.desc-code div {
    padding: 25px 0 15px 0;
}

.desc-code summary {
    padding: 10px;
    background-color: var(--verde-claro);
    color: var(--branco);
    font-weight: bold;
    border-radius: 30px;
}

.infos-code {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.infos-code .aviso {
    font-style: italic;
    justify-content: center;
    color: var(--verde-médio);
}

.infos-code p {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    max-width: 640px;
    padding: 0 60px 0 100px;
}

.img-code {
    position: relative;
}

.img-code img {
    border-radius: 40px;
}
.img-code button {
    position: absolute;
    width: 350px;
    height: 45px;

    font-size: 17px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: var(--verde-escuro);

    z-index:1;
    top:80%;
    left:15%;
}

.img-code input {
    position: absolute;
    z-index:-1;
    top:82%;
    left:30%;
}

/*IGREJA --------------------------------------------------------*/

#igreja .igreja-end {
    font-family: 'Poppins', cursive;
    text-align: center;
}

.igreja-end .subtitulo,
.igreja-end .sub-hor {
    color: var(--verde-escuro);
    font-weight: bold;
}

.igreja-end .subtitulo {
    padding-bottom: 15px;
}

.igreja-end .sub-hor {
    padding-top: 15px;
}

#igreja img {
    width: 40%;
    border-radius: 20px;
    margin-top: 2em;
}

.igreja-local,
.igreja-mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

.igreja-end {
    display: flex;
    flex-direction: column;
}

/*SOBRE ---------------------------------------------------------*/

#sobre {
    font-family: 'Poppins', sans-serif;
}

.sobre-desc {
    color: var(--verde-escuro);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#sobre ul {
    color: var(--verde-escuro);
    font-size: 18px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

#sobre ul li:before {
    content: '✓ ';
    color: var(--verde-claro);
}

#sobre .sobre-imgs {
    text-align: center;
}

#sobre .sobre-imgs img {
    width: 400px;
    height: 300px;
    padding-top: 5px;
}

/*COMO-CHEGAR ---------------------------------------------------*/

#como-chegar {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.chegar-end h2 {
    font-weight: bold;
    padding-bottom: 20px;
}

.chegar-end h4 {
    color: var(--verde-escuro);
    padding-bottom: 60px;
}

/*INDICACOES ----------------------------------------------------*/

#indicacoes a {
    text-decoration: none;
    color: var(--verde-escuro);
}

#indicacoes .indicacoes {
    text-align: center;
    font-size: 20px;
    color: var(--verde-escuro);
}

.hotel-item {
    background-color: var(--branco);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.hotel-item:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    scale: 1.1;
}

.hotel-item .item-nome {
    padding: 20px;
}

.hotel-item .item-nome .nota {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hotel-item .hotel-img {
    display: flex;
    align-items: flex-end;
}

.hotel-item .hotel-img span {
    background-color: var(--verde-escuro);
    color: var(--branco);
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.hotel-item .hotel-img img {
    width: 180px;
    border-radius: 10px;
    margin-right: 10px;
}

.hoteis {
    padding-top: 4%;
}

.hoteis .btnHotel {
    display: flex;
    justify-content: center;
}

.btnHotel button {
    padding: 10px 60px;
    border-radius: 25px;
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    border: none;
    outline: none;
}

.hoteis button:hover {
    background-color: var(--verde-médio);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/*MENSAGEM ------------------------------------------------------*/

#mensagem {
    max-width: 900px;
    margin: 0 auto;
}

.mensagem-desc {
    text-align: center;
}

.newPost {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;
    background: var(--branco);
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content:left;
}

.infoUser .imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--verde-escuro);
}

.infoUser input {
    margin-left: 10px;
    border-radius: 7px;
    padding: 4px;
    border-color: var(--verde-transp);
    outline: none;
}

.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formPost textarea {
    background-color: var(--verde-transp);
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    outline: none;
    height: 90px;
}

.iconsAndButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.icons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 10px;
    cursor: pointer;
    background: none;
}

.btnSubmitForm {
    background-color: var(--verde-médio);
    padding: 10px 50px;
    color: var(--branco);
    font-weight: bold;

    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.btnSubmitForm:hover {
    background-color: var(--verde-escuro);
}

.icons img {
    filter:contrast(80%) sepia(50%);
}

/*BTNS-MENSAGENS ------------------------------------------------*/

ul.posts, 
li.post {
    margin-bottom: 50px;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);
}

li.post p {
    width: 100%;
    margin: 20px 0;
}

.infoUserPost {
    display: flex;
    align-items: center;

}

.imgUserPost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--verde-escuro);
}

.namePost strong {
    color: var(--verde-escuro);
    margin-left: 10px;
}

.actionBtnPost {
    display: flex;
    align-items: center;
}

.actionBtnPost .filesPost {
    font-size: 13px;
    padding: 2px 12px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionBtnPost .filesPost i {
    margin-right: 5px;
}

.actionBtnPost .love:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

.actionBtnPost .like:hover {
    background-color: #6bcfff;
    color: var(--branco);
}

.actionBtnPost span {
    margin: 10px 0 0 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
/*---------------------------------------------------------------*/

footer {
    background-color: var(--verde-escuro);
    color: var(--bege);
    text-align: center;
    align-items: center;
    padding: 60px 0;
    font-size: 18px;
}

footer i {
    padding-right: 5px;
    margin-left: 20px;
}

footer a:hover {
    color: var(--branco) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.custom-shape-divider-bottom-1694637462 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694637462 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 66px;
}

.custom-shape-divider-bottom-1694637462 .shape-fill {
    fill: #1D5943;
}


/*---------------------------------------------------------------*/

#back-to-top {
    color: var(--verde-claro);
    position: fixed;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid;
    bottom: 20px;
    right: 20px;
}

#back-to-top:hover {
    background-color: var(--verde-médio);
    color: var(--branco);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}